body {
    margin:0;
    font-family:Arial;
    background: linear-gradient(135deg,#ff4d6d,#ff8fa3);
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

/* CARD */
.card {
    background:white;
    padding:30px;
    border-radius:20px;
    width:100%;
    max-width:380px;
    box-shadow:0 10px 30px rgba(0,0,0,0.2);
}

/* LOGO */
.logo {
    width:100px;
    display:block;
    margin:0 auto 15px;
}

/* INPUT */
input, select {
    width:100%;
    padding:12px;
    margin:10px 0;
    border-radius:10px;
    border:1px solid #ddd;
}

/* BOTÃO */
button {
    width:100%;
    padding:12px;
    border:none;
    border-radius:25px;
    background: linear-gradient(45deg,#ff4d6d,#ff758f);
    color:white;
    font-weight:bold;
    margin-top:10px;
    cursor:pointer;
}

.hidden {
    display:none;
}

.item {
    background:#f5f5f5;
    padding:10px;
    margin-top:5px;
    border-radius:10px;
}

.extrato {
    background:white;
    padding:10px;
    border-radius:10px;
    margin-top:10px;
}

/* ===== IMAGEM PROFISSIONAL ===== */

.extrato-img {
    width:400px;
    background:white;
    padding:20px;
    border-radius:15px;
    text-align:center;
}

.logo-img {
    width:80px;
    margin-bottom:10px;
}

#listaImagem {
    text-align:left;
    margin-top:15px;
}

#listaImagem div {
    padding:6px;
    border-bottom:1px solid #eee;
}

.rodape {
    margin-top:15px;
    font-size:12px;
    color:#888;
}
