body {
    margin:0;
    font-family:Arial;
    background:#ff9a9e;
    text-align:center;
}

.tela {
    display:none;
    padding:20px;
}

.ativa {
    display:block;
}

.card {
    max-width:300px;
    margin:auto;
    margin-top:100px;
    background:white;
    padding:20px;
    border-radius:15px;
}

input {
    width:100%;
    padding:12px;
    margin:8px 0;
    border-radius:8px;
    border:1px solid #ccc;
}

button {
    width:100%;
    padding:12px;
    border:none;
    border-radius:20px;
    background:#ff4d6d;
    color:white;
    margin-top:10px;
}

.sorteio {
    display:flex;
    flex-direction:column;
    justify-content:center;
    height:100vh;
}

.nome {
    font-size:40px;
    font-weight:bold;
    color:white;
}

.mes {
    font-size:22px;
    color:white;
}
